.section__product{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGE SECTION */

.product__container{
    display: flex;
    flex-direction: column;

    padding: 3%;
    width: 40%;
}
.product__img--big{
    max-width: 700px;
    max-height: 700px;

    margin-bottom: 5%;

    border-radius: 15px;
    border-width: 2px;
    border-color: var(--orange);
    border-style: solid;
}

.product__thumbnail__container{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    max-height: 130px;

}


.product__thumbnail__container img{
    max-width: 130px;
    height: 100%;

    border-color: var(--orange);
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
}

/* DESCRIPTION SECTION */

.company__name{
    color: var(--orange);
    font-weight: var(--font-weight-strong);
    text-transform: uppercase;
}

.product__title{
    color: var(--black);
    font-size: 3.5rem;
}

.product__description{
    font-size: 1.4rem;
}

.product__price__sale{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: .6rem;
}

.product__price{
    color: var(--black);
    font-size: 2rem;
    font-weight: var(--font-weight-strong);
}

.product__sale{
    background-color: var(--pale-orange);
    color: var(--orange);
    font-weight: var(--font-weight-strong);
    
    border-radius: 5px;
    margin-left: 1.5rem;
    padding: 4px 8px;
}

.product__price--after{
    color: var(--grayish-blue);
    font-size: 1.3rem;
    font-weight: var(--font-weight-strong);
    text-decoration: line-through;
}


/* BUTTON AREA */

.button__area{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.button__counter{
    background-color: var(--light-grayish-blue);
    font-size: 1.2rem;
    border-radius: 10px;
}

.button__counter button{
    background-color: transparent;
    border: none;
    color: var(--orange);
    font-weight: var(--font-weight-strong);
    padding: 1rem 1.8rem;
    font-size: 1.5rem;
    letter-spacing: -3px;
}

.button__add_cart{
    background-color: var(--orange);
    
    color: var(--white);
    font-size: 1.2rem;
    font-weight: var(--font-weight-strong);

    padding: 0 6rem;

    border: none;
    border-radius: 10px;
}

.button__add_cart img{
    margin-right: 1.5rem;
    filter: brightness(0) invert(1);
}