.logo {
  background-image: url(../../svg/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30px;
  min-width: 210px;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5% auto;
}

.logo_navbar{
  display: flex;
  align-items: center;
  gap: 10rem;
}

.bars-button {
  display: none;
}

.links {
  align-items: center;
  display: flex;
  gap: 30px;
}

.links a {
  color: var(--black);
  font-size: 1.9em;
  font-weight: var(--font-weight-general);
  letter-spacing: 0.15rem;
  padding: 1rem 1rem;
  position: relative;
  text-decoration: none;
}
.links a::after {
  background-color: var(--orange);
  bottom: 5px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  transition: 0.8s ease;
  width: 100%;
}

.links a:hover {
  color: var(--white);
  z-index: 1;
}

.links a:hover::after {
  height: 80%;
  z-index: -1;
}

.cart-avatar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

@media only screen and (max-width: 1440px) {
  .links {
    display: none;
  }
  
  .links.active {
    align-items: center;
    background-color: var(--black-transparent);
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    height: 100%;
    width: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
    
    z-index: 100;
  }
  
  .links.active a{
    color: var(--white);
    font-weight: var(--font-weight-strong);
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .bars-button {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    position: absolute;
    right: 1rem;
    width: 50px;
    z-index: 101;
  }

  .bars-button span {
    background-color: var(--black);
    height: 2px;
    transition: 0.3s ease;
    width: 100%;
  }

  .bars-button.active span:nth-child(2) {
    display: none;
  }

  .bars-button.active span:nth-child(1) {
    position: absolute;
    transform: rotate(-45deg);
    top: 1.5rem;
  }

  .bars-button.active span:nth-child(3) {
    position: absolute;
    transform: rotate(45deg);
    top: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .cart-avatar{
    width: 50%;
  }
}

@media screen and (max-width: 460px) {
  .navbar{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}