@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Colors */

  /* Primary */

  --orange: #ff7d1a;
  --pale-orange: #ffede0;

  /* Neutral */

  --very-dark-blue: #1d2025;
  --dark-grayish-blue: #68707d;
  --grayish-blue: #b6bcc8;
  --light-grayish-blue: #f7f8fd;
  --white: #ffffff;
  --background-color-gray: #f2f2f2;

  /* Black with 75% opacity for lightbox background */
  --black-transparent: #00000075;
  --black: #000000;

  /* Typography */
  --font-family: "Kumbh Sans", sans-serif;
  --font-weight-strong: 700;
  --font-weight-general: 400;
  --font-size-general: 16px;

  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--white);

  color: var(--dark-grayish-blue);
  font-family: var(--font-family);
  font-weight: var(--font-weight-general);
  font-size: var(--font-size-general);
  letter-spacing: 1px;
}

button{
  cursor: pointer;
}

.container {
  padding: 1% 7%;
}
/* @media screen and(max-width:1440px) {
} */
